= simple_form_for(@issue, html: { class: 'form-inline' }) do |f|
  - if @issue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg

  %h4 Номер выпуска:
  .form-group
    
    = f.input :number, label: false, autofocus:true
  .bs-callout.bs-callout-success
    %h4 Фото:
    #photos
      = f.simple_fields_for :photos do |photo|
        = render 'photo_fields', f: photo
      //.links
      //  = link_to_add_association 'add photo', f, :photos
  
  = f.submit "Сохранить", class: 'btn btn-success btn-block'

     
