#fullpage
  .section
    - @issue.photos.each_with_index do |photo, index|

      .slide{"data-anchor"=>"#{index+1}", id: "#{index+1}"}
        .fullscreen(data-aload class="background" style="background-image:url(#{photo.url});") 
          .content-a
            .content-b
              %p 
                = photo.description    
                
                %br
                
                = link_to photo.author_link, target: "_blank" do 
                  = photo.author_name
                  %i.fa.fa-external-link
                %br
                %a(onclick="Share.vkontakte(window.location.href, '#{photo.author_name+" на PeoplesPhoto"}', '#{(photo.url).to_s}','#{photo.description}')") Шара
      }

