-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to admin_path, class: 'navbar-brand' do
        %i.fa.fa-home.fa-lg.text-info
        
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'ТЕКУЩИЙ', current_issue
        %li= link_to 'НОВЫЙ', new_issue_path
        %li.divider-vertical
        %li.disabled= link_to 'АРХИВ', '#'
      %ul.nav.navbar-nav.navbar-right
        %p.navbar-text 
          Текущий выпуск ##{current_issue.number}
          от #{current_issue.created_at.strftime("%d/%m/%Y")}
        %li 
          = link_to root_path do
            НА САЙТ
            
        %li.divider-vertical
        - if user_signed_in?
          -#%li= link_to 'Edit account', edit_user_registration_path
          %li 
            = link_to destroy_user_session_path, :method=>'delete' do
              ВЫЙТИ
              %i.fa.fa-sign-out.text-danger 
        - else
          %li
            = link_to new_user_session_path do
              ВОЙТИ
              %i.fa.fa-sign-in.fa-lg.text-primary
          -#%li= link_to 'Sign up', new_user_registration_path
        