!!!
%html
  %head
    %title People's Photo - журнал о фотографии 
    -#content_for?(:title) ? yield(:title) : 'Photo'
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta{name:"description", content: "People's Photo - это современный журнал о фотографии. Место, где можно показать свои работы миру."}
    %meta(name="author" content="Винцент Илинич")
    -#{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Photo'}"}
    -# Fix for iPhone 5 fullscreen web apps
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    %meta(name='apple-mobile-web-app-capable' content='yes')
    %meta(name='apple-mobile-web-app-status-bar-style' content='black-translucent')
    -#OPEN GRAPH
    %meta(content="People's Photo" property='og:title')
    %meta(content='Журнал о фотографии' property='og:description')
    %meta(content="#{current_issue.photos.first.url}" property='og:image')
    
    = favicon_link_tag 'favicon.ico'
    :javascript
      function aload(a){"use strict";a=a||window.document.querySelectorAll("[data-aload]"),void 0===a.length&&(a=[a]);var b,c=0,d=a.length;for(c;d>c;c+=1)b=a[c],b["LINK"!==b.tagName?"src":"href"]=b.getAttribute("data-aload"),b.removeAttribute("data-aload");return a}
    :javascript
      window.onload = function () {
        aload();
      };
    :css
      [data-aload] { background-image: none !important; }
    
    = stylesheet_link_tag 'application', media: 'all'#, 'data-turbolinks-track' => true
    %link(data-aload="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/paper/bootstrap.min.css" rel="stylesheet")
    = javascript_include_tag 'application'
    = csrf_meta_tags


  %body
    //%main.main{:role => "main"}
    .logo
      %h1.title
        =link_to root_path do 
          People's Photo
      %h4.issue-date
        Журнал о фотографии
        .small
          выпуск №#{current_issue_number}
          
      
    = yield
    = button_tag "", class: "flex-prev" 
    = button_tag "", class: "flex-next" 
    = render 'layouts/bottom'
    = render 'layouts/add_photo_modal'
    = render 'layouts/about_modal'